@model IEnumerable<Garage2._5.Models.ParkedVehicles>

@{
    ViewBag.Title = "Index";
}
<div class="container tablebackground">
    <h2>Parked Vehicles</h2>




    @using (Html.BeginForm("Search", "ParkedVehicles", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <dl class="dl-horizontal">
                <dt>
                    Search by:
                </dt>
                <dd>
                    <form>
                        <div>
                            @*<label class="radio"><input type="radio" name="filter" value="Reg">Reg</label>
                                <label class="radio"><input type="radio" name="filter" value="Brand">Brand</label>
                                <label class="radio"><input type="radio" name="filter" value="Type">Type</label>*@
                            @Html.RadioButton("filter", "Registration Number") <span>RegistrationNumber</span>
                            @Html.RadioButton("filter", "Type") <span>Type</span>

                        </div>
                    </form>
                </dd>
                <dd>
                    <input type="text" name="Search"> <input type="submit" value="Search" class="btn btn-info" />
                </dd>
                <p>@ViewBag.output</p>
            </dl>
        </div>

    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }





    <p>
        @Html.ActionLink("Park New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.TypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckIn)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Check out", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>